@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Zen Kaku Gothic New", ZenArial, Helvetica, sans-serif;
}

body {
  font-family: "Zen Kaku Gothic New", ZenArial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-marker {
  transition: transform 0.2s ease-in-out;  /* アニメーションのスムーズさ */
}

.custom-marker:hover {
  transform: scale(1.1); 
}

/* スクロールバー全体のスタイル */
::-webkit-scrollbar {
  width: 2px; /* スクロールバーの幅 */
  height: 10px;
}

/* スクロールバーのハンドル部分 */
::-webkit-scrollbar-thumb {
  background-color: #bcc000; /* ハンドルの色 */
  border-radius: 5px; /* ハンドルの角の丸み */
}

/* スクロールバーのトラック部分 */
::-webkit-scrollbar-track {
  background: ; /* トラックの背景色 */
}
